*{
/*   border: solid 1px black; */
}
body{
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: #444444;
  color: rgba(255,255,255,0.95);
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
  font-family: "微軟正黑體",sans-serif;
}
/* 複寫區 */
ul{
  padding: 0;
  list-style: none;
}
h2{
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
}
}hr{
  border: none;
  border-bottom: solid 4px #00FF00;
  width: 50%;
  margin-left: 0;
}
h4{
  margin: 0;
  margin-top: 40px;
  opacity: 0.8;
  font-weight: 400;
}
a{
  color: white;
  text-decoration: none
}
.bb{
	width:150px; 
	height:150px;
	float: right;
	border:solid 2px #DAA520;
	
}
.right{
  padding-left:0px;
  padding-top: 150px;
}
.img{
	padding-left:7.5px;
	width: 50px;
	height:50px;
	padding-bottom: 15px;
	
}
.title:hover{
   color:#DAA520;
}

.img3{
	padding-left:7.5px;
	width: 50px;
	height:50px;
	padding-bottom: 0px;
}

.img2{
	width: 65px;
	height:65px;
}
.cc{
	padding-top: 10px;
	padding-bottom: 120px;
	font-size: 18px;

}
.pic1{
	width: 300px;
	height:210px;
	float: right;
	
}




.resume{
  display: flex;
  max-width: 950px;
  border: solid 8px ;
  padding: 50px;
  position: relative;
}
.xx,.right{
  padding: 25px
}
.xx{
  padding-right: 50px;
  border-right: solid 1px white;
}
.listProgram .bar{
  width: 600px;
  height: 10px;
  border: solid 2px #DAA520;
  border-radius: 5px;
  
}
.listProgram li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  
}
/*長條圖*/
.value{
  height: 100%;
  width: 60%;
  background-color: #DAA520;
}
.value.jsp{
  width: 70%;
  animation: jsp 3s;
}
.value.c{
  width: 40%;
  animation: c 3s;
  }
.value.python{
  width: 40%;
  animation: python 3s;
}
.value.html{
  width: 80%;
  animation: html 3s;
}
.value.java{
  width: 50%;
  animation: java 3s;
}

@keyframes jsp
{
	0%{
		width: 0%;
	}
	100%{
		width: 70%;
	}
}
@keyframes c
{
	0%{
		width: 0%;
	}
	100%{
		width: 40%;
	}
}
@keyframes html
{
	0%{
		width: 0%;
	}
	100%{
		width: 80%;
	}
}
@keyframes java
{
	0%{
		width: 0%;
	}
	100%{
		width: 50%;
	}
}
@keyframes python
{
	0%{
		width: 0%;
	}
	100%{
		width: 40%;
	}
}


.container{
	padding-bottom: 200px;
	padding-top: 50px;
}
/*橫向時間軸*/
.time-horizontal {
    list-style-type: none;
    border-top: 1px solid #707070;
    max-width: 1000px;
    padding: 0px;
    margin: 0px;
}
 
.time-horizontal li {
    float: left;
    position: relative;
    text-align: center;
    width: 25%;
    padding-top: 10px;
}
 
.time-horizontal li b:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 47%;
    width: 12px;
    height: 12px;
    border: 2px solid #DAA520;
    border-radius: 8px;
    background: #DAA520;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color:#444444;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  font-size: 25;
  font-family: 微軟正黑體;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #DAA520;
  width: 100%;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: black;
  display: none;
  overflow: hidden;

  

}
.btn{
  border: solid 1px #DAA520;
  padding: 8px 25px;
  margin-right: 10px;
}
.fill{
  background-color: #444444;
}

.btn:hover{
	background-color: #DAA520;
  
}

